{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-center text-3xl font-bold mb-6 animate-rainbow">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
      Agregar Factura
    </span>
</h1>
<hr class="border-t-2 border-gradient-to-r from-purple-400 via-pink-500 to-red-500 mb-6">

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-6">
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 hover:from-purple-500 hover:via-pink-600 hover:to-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 transition-colors duration-300">
            Guardar
        </button>
    </form>
</div>
{% endblock %}
