<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white min-h-screen flex flex-col">
  <div class="flex flex-1">
    <nav class="flex flex-col justify-between border-e bg-black w-56">
      <div class="px-4 py-6">
        <span class="grid h-12 w-32 place-content-center rounded-lg bg-gradient-to-r from-red-500 via-yellow-500 to-blue-500 text-sm font-extrabold text-white">
          Los Colores
        </span>

        <ul class="mt-6 space-y-2">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'lista' %}" class="block rounded-lg {% if actual == 'lista' %}bg-red-700{% else %}text-red-400 hover:bg-red-700{% endif %} px-4 py-2 text-base font-extrabold">
              Inicio
            </a>
          </li>

          <li>
            <a href="{% url 'agregar' %}" class="block rounded-lg {% if actual == 'agregar' %}bg-green-700{% else %}text-green-400 hover:bg-green-700{% endif %} px-4 py-2 text-base font-extrabold">
              Agregar
            </a>
          </li>

          <li>
            <a href="{% url 'reporte_compras' %}" class="block rounded-lg {% if actual == 'reporte_compras' %}bg-orange-700{% else %}text-orange-400 hover:bg-orange-700{% endif %} px-4 py-2 text-base font-extrabold">
              Ventas
            </a>
          </li>

          <li>
            <a href="{% url 'facturas' %}" class="block rounded-lg {% if actual == 'facturas' %}bg-blue-700{% else %}text-blue-400 hover:bg-blue-700{% endif %} px-4 py-2 text-base font-extrabold">
              Facturas
            </a>
          </li>

          <li>
            <a href="{% url 'reporte_ganancias' %}" class="block rounded-lg {% if actual == 'reporte_ganancias' %}bg-yellow-700{% else %}text-yellow-400 hover:bg-yellow-700{% endif %} px-4 py-2 text-base font-extrabold">
              Reportes
            </a>
          </li>

          <li>
            <a href="{% url 'logout' %}" class="block rounded-lg {% if actual == 'logout' %}bg-purple-700{% else %}text-purple-400 hover:bg-purple-700{% endif %} px-4 py-2 text-base font-extrabold">
             Salir
            </a>
          </li>
          {% else %}

            {% if title == 'registrarse' %}
            <li>
              <a href="{% url 'login' %}" class="block rounded-lg px-4 py-2 text-base font-extrabold text-purple-400 hover:bg-purple-700">
              Ingresar
              </a>
            </li>
            {% elif title == 'Iniciar sesión' %}
            <li>
              <a href="{% url 'crear_usuario' %}" class="block rounded-lg px-4 py-2 text-base font-extrabold text-purple-400 hover:bg-purple-700">
              Registrarse
              </a>
            </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </nav>

    <main class="flex-1 p-6">
      {% load crispy_forms_tags %}
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <footer class="bg-gray-800 text-center py-4">
    <p class="text-gray-400 text-sm">
      © 2024 Los Colores. Todos los derechos reservados.
    </p>
  </footer>
</body>
</html>
