{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900 text-white">
    <div class="bg-gray-800 shadow-md rounded-lg px-8 py-6 max-w-md w-full">
        <h2 class="text-2xl font-bold mb-4 text-center">Contraseña restablecida</h2>
        <p class="text-center mb-4">Tu contraseña ha sido restablecida exitosamente.</p>
        <div class="text-center">
            <a href="{% url 'login' %}" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300">
                Iniciar sesión
            </a>
        </div>
    </div>
</div>
{% endblock %}
